.btn-primary {
  background-color: #99d347 ;
  border-color: #8dc63f !important;
  color: #fff;
}


.btn-primary:hover {
  background-color: #8dc63f;
 
}

.btn-primary .form-check-input:focus {
  color: #2f4f86;
}

.btn.btn-primary {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.bs-green {
  background-color: #8dc63f;
}

.display-3 {
  font-size: calc(1.3rem + 2vw);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  padding-top: 1rem;
  color: #99d347;
}

.display-3 h2{
  font-size: 1rem;
}


.btn-light{
  color: #304c7b;
}

.py-5 {
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important; 
}

/* .py-3{
  padding-bottom: 0.5rem !important;
} */

.display-2 {
  font-size: 2rem;
  color:#8dc63f !important;
}

@media (max-width: 480px) {
  .display-2 {
    font-size: 1.2rem;
  }
}


.mb-0 span{
  font-weight:500;
  color: #0a0908;
}

/* cards item content image  */
.service-img .rounded-top {
    width: 200px;  
    height: 250px; 
    object-fit: cover; 
}

.service-content p {
  font-size: 16px; 
  color: #0a0908;
  line-height: 1.5; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.service-content h5{
  color: #2f4f86;
  font-weight: bold;
}

.container .row-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.footer-item img {
  height:50px; 
  object-fit: cover
}

.fa-2x {
  color:#fff;
}

.about-img-inner{
  width: 30%;
  margin-left: 3rem;
}

.bg-light {
    background-color: #e6e3e3 !important;
}


.text-secondary span {
  font-weight: bold;
  color: #2f4f86;
}

.text-secondary p{
  color: #0a0908 !important;
}

.section-title p {
  color: #0a0908;
}
.row-container {
  display: flex;
  flex-wrap: wrap;
  gap:3rem;
}

.container-fluid .footer-item p{
  color: #fff;

}

.footer-item h4, h5{
  color: #8dc63f;
}

.fa i {
  color: #8dc63f;
}

.row-container h5 {
  color: #2f4f86;
}


.sub-style h3{
  color:#2f4f86;
  font-weight: bold;
  font-size: 3rem;
}

.section-title h4{
  color: #2f4f86;
}

.sidebar-widget h4{
  margin-bottom: 0.5rem;
}

/*---------------------
  Pricing Section
-----------------------*/

.pricing-section {
	background: #e6e3e3;
}

.pricing-section .section-title {
	margin-bottom: 56px;
}

.ps-item {
  background-color: #304c7b;
	text-align: center;
	padding: 40px ;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	-webkit-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	transform: skewY(-4deg);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-bottom: 30px;
	position: relative;
}

.ps-item:hover {
	background: #f2efef;
	border-color: #ffffff;
}

.ps-item:hover h3 {
	color: #99d347;
}

.text-custom-blue{
  color: #304c7b;
}

.ps-item:hover .pi-price span {
	color: #0a0a0a;
}

.ps-item:hover ul li {
	color: #111111;
	font-weight: 600;
}

.ps-item:hover .primary-btn.pricing-btn {
	background: #99d347;
}

.ps-item:hover .thumb-icon {
	opacity: 1;
	visibility: visible;
}

.ps-item h3 {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 16px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item .pi-price {
	margin-bottom: 30px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item .pi-price h2 {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color: #99d347;
	font-weight: 600;
}

.ps-item .pi-price span {
	color: #99d347;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.ps-item ul {
	margin-bottom: 40px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item ul li {
	font-size: 20px;
  text-align: center;
	color: #fff;
	line-height: 32px;
	list-style: none;
}

.ps-item .primary-btn.pricing-btn {
	display: block;
  margin: auto;
  padding: 0.5rem;
  width: 50%;
  border-radius: 3rem;
	background: #99d347;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item a{
  color: #fff;
}

.ps-item .thumb-icon {
	font-size: 48px;
	color: #8dc63f;
	position: absolute;
	left: 50px;
	bottom: 120px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
	opacity: 0;
	visibility: hidden;
}

