.container .col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .sidebar {
  position: relative;
  overflow: hidden;
  top: 24rem;
  left: 2rem;
  width: 80%;
  height: 100%;
  border-bottom: none !important;
}

.container .sidebar-sticky {
  position: fixed;
  left: 0px;
  top: 26rem;
  background-color: #fff;
  padding-left: 30px;
  z-index: 99999;
  height: 100%;
  width: 14%;
}

@media (max-width: 992px) {
  .container .sidebar {
    position: fixed;
    top: 70px;
    right: 0;
    width: 250px;
    height: auto;
    overflow-y: auto;
  }
}

/*  Responsividade para Celulares e Telas Pequenas */
@media (max-width: 768px) {
  .container .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    border-bottom: none;
  }
}

.sidebar h4 {
  color: #304c7b;
  margin-bottom: 1rem;
}

.sidebar .subscribe {
  display: flex;
  flex-direction: column;
  border: 1px solid #304c7b;
  padding: 2rem;
  margin-top: 2rem;
}

.related-posts-block {
  padding: 3rem 0;
}

.single-post p {
  line-height: 26px;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  color: #0e0d0d;
  font-weight: 400;
}

.post-body ul li {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 10px;
  color: #8dc63f;
  font-weight: bold;
}
